<style>
iframe {
  border: 0;
  width: 100%;
}
</style>
<h3 class="site-preview-heading">Borderless</h3>

<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Bordered</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Multiselectable</h3>

<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--multiselectable&args=&viewMode=story" allowfullscreen="true">
</iframe>
