<style>
iframe {
  border: 0;
  width: 100%;
}
</style>
<h3 class="site-preview-heading">Standard alerts</h3>

<iframe 
  height: "300"
  width: "100%"
  src="http://localhost:6009/iframe.html?id=components-alert--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<iframe 
  height: "300"
  width: "100%"
  src="http://localhost:6009/iframe.html?id=components-alert--info&args=&viewMode=story" allowfullscreen="true">
</iframe>

<iframe 
  height: "300"
  width: "100%"
  src="http://localhost:6009/iframe.html?id=components-alert--warning&args=&viewMode=story" allowfullscreen="true">
</iframe>

<iframe 
  height: "300"
  width: "100%"
  src="http://localhost:6009/iframe.html?id=components-alert--error&args=&viewMode=story" allowfullscreen="true">
</iframe>

<iframe 
  height: "300"
  width: "100%"
  src="http://localhost:6009/iframe.html?id=components-alert--success&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Slim alert</h3>

<iframe 
  height: "300"
  width: "100%"
  src="http://localhost:6009/iframe.html?id=components-alert--slim&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Alert with no icon</h3>

<iframe 
  height: "300"
  width: "100%"
  src="http://localhost:6009/iframe.html?id=components-alert--no-icon&args=&viewMode=story" allowfullscreen="true">
</iframe>
