<h3 class="site-preview-heading">Default</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Secondary color</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Accent cool color</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Accent warm color</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Base color</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Outline</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Outline inverse</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading">Big button</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>
