<h3 class="site-preview-heading" id="big-footer">Big footer</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading" id="medium-footer">Medium footer</h3>
<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

<h3 class="site-preview-heading" id="slim-footer">Slim footer</h3>

<iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>