
<div class="grid-row grid-gap">
  <div class="tablet:grid-col">
    <h3 class="site-preview-heading border-top-1px border-base-light padding-top-1 margin-top-0">Default</h3>
   <iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

  </div>
  <div class="tablet:grid-col">
    <h3 class="site-preview-heading border-top-1px border-base-light padding-top-1 tablet:margin-top-0">Simple content</h3>
    <p class="margin-bottom-2">Benefits of joining Global Entry program:</p>
    <iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

  </div>
</div>
<div class="grid-row grid-gap">
  <div class="tablet:grid-col">
    <h3 class="site-preview-heading border-top-1px border-base-light padding-top-1">Rich content</h3>
    <iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

  </div>
  <div class="tablet:grid-col">
    <h3 class="site-preview-heading border-top-1px border-base-light padding-top-1">Custom size with rich content</h3>
    <p class="margin-bottom-2">Here are a few easy ways you can help reduce energy use and costs while spending more time at home.</p>
    <iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

  </div>
</div>
<div class="grid-row grid-gap">
  <div class="tablet:grid-col">
    <h3 class="site-preview-heading border-top-1px border-base-light padding-top-1">Custom size</h3>
   <iframe 
  src="http://localhost:6009/iframe.html?id=components-accordion--default&args=&viewMode=story" allowfullscreen="true">
</iframe>

  </div>
</div>

