<h3 class="site-preview-heading">Default</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Default (Spanish)</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Multiple parents and logos</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Multiple parents and logos (Spanish)</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">No logos</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Taxpayer disclaimer</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Taxpayer disclaimer (Spanish)</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>

