<h3 class="site-preview-heading">Default</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Unbounded</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Default (Spanish)</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Unbounded (Spanish)</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


