<h3 class="site-preview-heading">Default</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">No labels</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Centered</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Counters</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>


<h3 class="site-preview-heading">Small counters</h3>
<iframe
  src="http://localhost:6009/iframe.html?id=components-accordion--bordered&args=&viewMode=story" width="100%" height="260"></iframe>

